doctype html
html
    head
        style
            include style.css
        title Team Service - API Documentation
    body
        h1 Team Service - API Documentations
        p The team service is very limited - only supports /get and /get/:teamId.  Team data should be very static, and will be managed manually in the database.
        hr
        br
        table
            th Method
            th Action
            th Type
            th Arguments
            th Return
            th Sample
            th Status
            th Description
            tr
                td Get
                td Get All
                td JSON 
                td(class='td-left') N/A
                td(class='td-left') Team
                td(class='td-left')
                    a(href=sampleGetAll) #{sampleGetAll}
                td Current
                td(class='td-left') Returns all available teams.
            tr
                td Get
                td Get
                td JSON 
                td(class='td-left') TeamID - number 
                td(class='td-left') Team
                td(class='td-left')
                    a(href=sampleGet) #{sampleGet}
                td Current
                td(class='td-left') Returns the team with the matching TeamID
