table, td, th {
    padding: 15px; 
    border: 1px solid black; 
    border-collapse: 
    collapse; 
    text-align: center;
}

.td-left {
    text-align: left;
}

.notice {
    font-weight: bold;
    color: red;
}

.deprecated{
    background-color: lightgray;
}